<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css"rel="stylesheet">
    <link href="all.min.css"rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Moon+Dance&family=Roboto&display=swap" rel="stylesheet">
    
    <title>Template</title>
</head>
<body>
    <div class="fixed">
        <i class="fa-solid fa-up-long"></i>
    </div>
    <section class="nav">
        <nav>
            <a href="#"><img src="/img/logo.png.webp"></a>
            <label for="check"><i class="fa-solid fa-bars"></i></label>
            <input type="checkbox"id="check">
            <ul class="list-item">
                <li><a href="#">home</a></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">about</a></li>
                <li class="drop"><a href="#">Latest</a>
                    <ul class="dropdown">
                        <li> Product list</li>
                        <li> Product list2</li>
                    </ul>
                </li>
                <li class="drop"><a href="#">blog</a>
                    <ul class="dropdown">
                        <li> Product list</li>
                        <li> Product list2</li>
                    </ul>
                </li>
                <li class="drop"><a href="#">pages</a>
                    <ul class="dropdown">
                        <li> Product list</li>
                        <li> Product list2</li>
                    </ul>
                </li>
                <li><a href="#">contact</a></li>
            </ul>
            <div class="icons">
                <a href="#"> <i class="fa-solid fa-magnifying-glass"></i> </a>
                <a href="#"><i class="fa-regular fa-user"></i> </a>
                <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
            </div>
        </nav>
    </section>
    <header>
        <diV class="container">
            <div class="row">
                <div class="header-content">
                    <h2>Select Your New Perfect Style</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                    <button class="btn">shop now</button>
                </div>
                <img src="watch.png.webp">
            </div>
        </diV>
    </header>

    <!-- 
        =====================================
            Start arrival
        =====================================
    -->
    <section class="arrival">
        <div class="container">
            <h2>New Arrivals</h2>
            <div class="row">
                <div class="item">
                    <div class="img">
                        <img src="new_product1.png.webp">
                    </div>
                    <a href="#">Thermo Ball Etip Gloves</a>
                    <p>$ 45,743</p>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="new_product2.png.webp">
                    </div>
                    <a href="#">Thermo Ball Etip Gloves</a>
                    <p>$ 45,743</p>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="new_product3.png.webp">
                    </div>
                    <a href="#">Thermo Ball Etip Gloves</a>
                    <p>$ 45,743</p>
                </div>
            </div>
        </div>
    </section>
    <section class="product">
        <div  class="container">
            <div class="gallery">
                <div class="im">
                    <img src="gallery1.png.webp">
                </div>
                <div class="im">
                    
                    <img src="gallery2.png.webp">
                </div>
                <div class="im">
                
                    <img src="gallery3.png.webp">
                </div>
                <div class="im">
        
                    <img src="gallery4.png.webp">
                </div>
            </div>

        </div>
    </section>
    <!-- 
        ========================
            Start Popular
        ========================
    -->
    <section class="popular">
        <div class="container">
            <div class="headings">
                <h2>Popular Items</h2>
                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
            </div>
            <div class="row">
                <Div class="items-p">
                    <div class="ig"> 
                        <img src="popular1.png.webp"alt="">
                        <a class="link" href="#">Add cart</a>
                    </div>
                    <div class="p-price">
                        <p><a href="#">Thermo Ball Etip Gloves</a></p> 
                        <span>$ 45,743</span>
                    </div>
                    <div class="icons">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </Div>
                <Div class="items-p">
                    <div class="ig"> 
                        <img src="popular2.png.webp"alt="">
                        <a class="link" href="#">Add cart</a>
                    </div>
                    <div class="p-price">
                        <p><a href="#">Thermo Ball Etip Gloves</a></p> 
                        <span>$ 45,743</span>
                    </div>
                    <div class="icons">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </Div>
                <Div class="items-p">
                    <div class="ig"> 
                        <img src="popular3.png.webp"alt="">
                        <a class="link" href="#">Add cart</a>
                    </div>
                    <div class="p-price">
                        <p><a href="#">Thermo Ball Etip Gloves</a></p> 
                        <span>$ 45,743</span>
                    </div>
                    <div class="icons">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </Div>
                <Div class="items-p">
                    <div class="ig"> 
                        <img src="popular4.png.webp"alt="">
                        <a class="link" href="#">Add cart</a>
                    </div>
                    <div class="p-price">
                       <p><a href="#">Thermo Ball Etip Gloves</a></p> 
                        <span>$ 45,743</span>
                    </div>
                    <div class="icons">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </Div>
                <Div class="items-p">
                    <div class="ig"> 
                        <img src="popular5.png.webp"alt="">
                        <a class="link" href="#">Add cart</a>
                    </div>
                    <div class="p-price">
                        <p><a href="#">Thermo Ball Etip Gloves</a></p> 
                        <span>$ 45,743</span>
                    </div>
                    <div class="icons">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </Div>
                <Div class="items-p">
                    <div class="ig"> 
                        <img src="popular6.png.webp"alt="">
                        <a class="link" href="#">Add cart</a>
                    </div>
                    <div class="p-price">
                       <p><a href="#">Thermo Ball Etip Gloves</a></p> 
                        <span>$ 45,743</span>
                    </div>
                    <div class="icons">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </Div>
            </div>
        </div>
    </section>
    <!-- 
        ========================
            Start video
        ========================
    -->
    <section class="sec-vid">
        <div class="container">
            <div class="button">
                <button class="btn">
                    view more product
                </button>
            </div>
            <div class="vid-item"style="   background-image:url(sectin_bg1.png.webp); background-position: center;
            background-repeat:no-repeat;background-size: cover;">
                <a href="https://youtu.be/KMc6DyEJp04"class="play"> <i class="fas fa-play f"></i></a>
                <div class="next">
                    <h2>Next Video</h2>
                    <a href="#"class="link-next"><i class="fa-solid fa-arrow-right r"></i></a>
                </div>
            </div>
        </div>
    </section>
        <!-- 
        ========================
            Start choise
        ========================
    -->
    <section class="choise">
        <div class="container">
            <div class="row">
                <div class="choise-h-p">
                    <h2>Watch of Choice</h2>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <button class="btn">Show Watches</button>
                </div>
                <div class="choise-img">
                    <img src="choce_watch1.png.webp"alt="">
                </div>
            </div>
            <div class="row">
                <div class="choise-h-p">
                    <h2>Watch of Choice</h2>
                    <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                    <button class="btn">Show Watches</button>
                </div>
                <div class="choise-img">
                    <img src="choce_watch2.png.webp"alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- 
        ========================
            Start red zone
        ========================
    -->
    <section class="red-zone">
        <div class="container">
            <div class="row">
                <div class="red-icon-h-p">
                    <div class="red-icon">
                        <i class="fa-solid fa-cube"></i>                   
                    </div>
                    <div class="red-h-p">
                        <h2>Free Shipping Method</h2>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
                <div class="red-icon-h-p">
                    <div class="red-icon">
                        <i class="fa-solid fa-unlock"></i>
                    </div>
                    <div class="red-h-p">
                        <h2>Free Shipping Method</h2>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
                <div class="red-icon-h-p">
                    <div class="red-icon">
                        <i class="fa-solid fa-rotate-right"></i>
                    </div>
                    <div class="red-h-p">
                        <h2>Free Shipping Method</h2>
                        <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
          <!-- 
        ========================
            Start footer
        ========================
    -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="logo-p">
                    <img src="img/logo.png.webp"alt>
                    <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                </div>
                <div class="ul-p">
                    <ul class="lista">
                        <h2>Quick Links</h2>
                        <li>About</li>
                        <li>Offers & Discounts</li>
                        <li>Get Coupon</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="ul-p">
                    <ul class="lista">
                        <h2>New Products</h2>
                        <li>About</li>
                        <li>Offers & Discounts</li>
                        <li>Get Coupon</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="ul-p">
                    <ul class="lista">
                        <h2>Support</h2>
                        <li>About</li>
                        <li>Offers & Discounts</li>
                        <li>Get Coupon</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="p">
                   <p>Copyright ©2023 All rights reserved | This template is made with
                    <i class="fa-regular fa-heart"></i>
                    by
                    <span>Colorlib</span>
                </div></p> 
                <div class="icn">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-behance"></i>
                    <i class="fa-solid fa-globe"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>           
    
